.flexboxParent{


background-color: rgb(247, 246, 246);
display:flex;
border-radius: 3px;

gap: 2rem;
justify-content: center;
height: 100vh;
align-items: center;

}

.childOne{
    background-image: linear-gradient(to right, rgb(245, 241, 241), #49bfee);
    flex:1;
    color:black;
    border-radius: 5px;
    max-width: 400px;
    padding:20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.childTwo{
background-image: linear-gradient(to right, rgb(242, 245, 245), #49bfee);
    flex:1;
    color:black;
    border-radius: 5px;
    max-width: 400px;
    padding:20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.childThree{
background-image: linear-gradient(to right, rgb(244, 243, 245), #49bfee);
    flex:1;
    color:black;
    border-radius: 5px;
    max-width: 400px;
    padding:20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.listBasic{
    list-style: none;
    padding: 0;
    margin:0;
    
}

.listStandard{
    list-style: none;
    padding: 0;
    margin:0;
    
}

.listPremium{
    list-style: none;
    padding: 0;
    margin:0; 
    
}

@media (max-width: 1000px){
    .flexboxParent{
        flex-direction: column;
        height: 100%;
    }
}

button{
    background-color: rgb(0, 100, 158);
    padding:5px;
    border:none;
    border-radius: 3px;
    color:white;
    
    
}

button:hover{
    transform: scale(1.1);
    background-color: blue;
    cursor: pointer;
}